{
  box-sizing: border-box;
}

    img {
  max-width: 100%;
  height: auto;
}
    

body{
    margin: auto 0;
    font-family: 'Montserrat';
    color: #EEF0F0;
}

a{
    text-decoration:none;
    
}

button{
    background: none;
    border: none;
}

ul, ol {
    list-style: none;
    padding: 0;
}

input{
    border:none;
    outline:none;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #829898;
    font-size: 14px;
    background: none;
}

/* ============HEADER============ */



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #829898;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px auto;
    z-index: 5;
}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.hamburger-hidden{
    display: none;
}


.hamburger-button{
    display: none;
   
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}



.logo{
    font-family:'Noto Serif JP';
    font-weight: 400;
    color: #EEF0F0;
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}

.logo-image{
    
    width: 50px;
    padding-right: 15px;
}


.menu{
    padding: 0;
    width: 400px;
 
list-style: none;
    display: flex;
    justify-content: space-between;

}

.sticky-menu{
    margin-right:200px;
}


.menu-link{
    font-family:'Noto Serif JP';
    font-weight: 400;
    color: #EEF0F0;
    font-size: 16px;
    text-decoration: none;
}

.heading{
    font-family:'Noto Serif JP';
    font-weight: 400;
    color: #EEF0F0;
    font-size: 36px;
}


.menu-link{
    font-weight: 400;
    color: #EEF0F0;
    position: relative;
    transition: 0.5s;
   
}

.menu-link:hover{
    color: #BFCBCB;
}

.menu-link:after{
    content:"";
    position: absolute;
    background: #EEF0F0;
    width: 0;
    height: 1px;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}

.menu-link:hover:after{
    background: #BFCBCB;
    width: 100%;
}

/* ============ABOUT============ */

main{
    font-family: 'Montserrat';
    color: #527070;
    font-size: 14px;
}



.about-us{
    margin: auto;
    width: 60%;
    padding-top: 50px;
}


.title{
    margin-top: 50px;
    font-family:'Noto Serif JP';
    font-weight: 400;
    color: #829898; 
    font-size: 24px;
    z-index: 2;
    
    width: 100%;
    text-align: center;
}

.title-about{
    margin-top: 100px;
}

.title-about:before{
    content: '';
    display: inline-block;
    width: 130px;
    height: 30px;
    background: #EEF0F0;
    transform: translate(-20px, 12px);
    position: absolute;
    z-index: -1;
}





.about-text{
    font-family: 'Montserrat';
    color: #527070;
    font-size: 14px;
    text-align: justify;
    width: 500px;
}


.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}


.video{
    margin: auto;
    width: 60%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.video-container{
    display: flex;
    justify-content: center;
    
}

.title-video:before{
    content: '';
    display: inline-block;
    width: 300px;
    height: 30px;
    background: #EEF0F0;
    transform: translate(-20px, 12px);
    position: absolute;
    z-index: -1;
}




/* ============NEWSLETTER============ */

.newsletter{
    background: #EEF0F0;
    text-align: center;
    padding: 30px;
}

.newsletter-heading{
    font-family:'Noto Serif JP';
    font-weight: 400;
    font-size: 24px;
    color: #829898;
    margin: 0px;
}

.undertitle{
    font-family: 'Montserrat';
    color: #527070;
    font-size: 12px;
    margin-top: 0px;
}

.form-group{
    margin: auto;
    width: 50%;
}

.form-input{
    width: 200px; 
    border-bottom: 1px solid #527070;
}


/* ============FOOTER============ */
.footer{
    background: #829898;
    width: 100%;
    flex-direction: column;
    padding-bottom: 10px;
}

.footer-menu{
    font-family:'Noto Serif JP';
    font-weight: 400;
    color: #EEF0F0;
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    width: 15%; 
    margin-left: 60px;
}

.footer-link{
    font-family:'Noto Serif JP';
    font-weight: 400;
    color: #EEF0F0;
    text-decoration: none;
    font-size: 12px;
    
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}


/* ============RWD============ */


@media(max-width:1350px){
          .image-container {
        text-align: center;
        display: block;
      }

}

@media(max-width:1250px){
    
    .about-content{
        display: block;
        justify-content: center;
       
    }
    
    .about-text{
         display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
    }
    
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
    
    


}




@media(max-width:1100px)
{
    
    .header-content{
        display:none;
    }
    

    .navbar{
        overflow: hidden;
        position: fixed; 
        top: 0; 
        width: 100%;  
    }

    .menu{
        margin-right: 250px;
    }

    .footer-menu{
        width: 30%;
    }

    
}

@media(max-width:900px){
    
   

    .menu{
        display: none;
    }

    .hamburger-button{
        display: block;
    }

    .navbar-mobile{
        width: 70%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    /* .hamburger-button{
    padding: 0;
    width: 100%;
    margin-right: 20px;

    list-style: none;
    display: flex;
    justify-content: space-between;
    }*/


    .hamburger-nav{
        background-color:#829898;
        position:fixed;
        width:60%;
        height:100%;
        top:0px;
        right:0px;
        z-index:1000;
        box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2); 
        margin: 0 auto;
    }

    .hamburger-close{
        padding: 20px;
        font-weight: 400;
        color: #EEF0F0;
        font-size: 36px;
        text-decoration: none;
    }


    .hamburger-menu-item{
        text-align: center;
        margin: 0px auto;
        width: 50%;
        padding: 20px;
    }


    .hamburger-menu-link{
        font-family:'Noto Serif JP';
        font-weight: 400;
        color: #EEF0F0;
        font-size: 24px;
        text-decoration: none;
    }

    .hamburger-menu-link{
        font-weight: 400;
        color: #EEF0F0;
        position: relative;
        transition: 0.5s;
    }

    .hamburger-menu-link:hover{
        color: #BFCBCB;
    }

    .hamburger-menu-link:after{
        content:"";
        position: absolute;
        background: #EEF0F0;
        width: 0;
        height: 1px;
        bottom: -5px;
        left: 0;
        transition: 0.5s;
    }

    .hamburger-menu-link:hover:after{
        background: #BFCBCB;
        width: 100%;
        }


    .hamburger-menu{
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        padding-top:0%;   
    }

    
    
    

    
}






@media(max-width:700px){

    body{
        min-width: fit-content;
    }
    
    video{
          display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
        height: auto;
    }
    

          .footer-menu{
        width: 40%;
    }
    img {
  max-width: 100%;
  height: auto;
}
    
}
 



@media(max-width:460px){
    
 .title-video:before{
        width: 200px;
        height: 50px;
    }
   
      .footer-menu{
        width: 70%;
    }
    
}


@media(max-width:340px){
    
 .title-video:before{
        width: 150px;
        height: 50px;
    }
    
.form-input{
    width: 150px; }
    
    
}